<!-- <button (click)="openDialog()" >
    Launch Detail Dialog
</button>

<paper-dialog id="dialog1" ironControl>
    <h2>Edit Student Detail</h2>
    <paper-dialog-scrollable>
        <form #ngForm="ngForm">
            <paper-input name="id" label="Student Id" ironControl [(ngModel)]="student.id"></paper-input>

            <paper-input name="name" label="Name" ironControl [(ngModel)]="student.name"></paper-input>

            <paper-input name="age" label="Age" ironControl [(ngModel)]="student.age"></paper-input>

            <paper-dropdown-menu name="state" ironControl label="Dinosaurs" [(ngModel)]="student.homeState" [ironSelector]="listbox">
                <paper-listbox #listbox  attr-for-selected="value">
                    <paper-item *ngFor="let state of stateList" [value]="state">{{state}}</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>

            <paper-textarea name="comment" label="Comment" ironControl [(ngModel)]="student.Comment" ></paper-textarea>
        </form>

    </paper-dialog-scrollable>

    <div class="buttons">
        <paper-button (click)="doSomethingAndHide()">Ok</paper-button>
    </div>
</paper-dialog>
 -->
<h1>YES - brother</h1>
