<mdc-dialog id="mdc-dialog-with-list"
    role="alertdialog"
    aria-labelledby="mdc-dialog-with-list-label"
    aria-describedby="mdc-dialog-with-list-description">
    <mdc-dialog-header>
        <mdc-dialog-title id="mdc-dialog-with-list-label">Choose a Ringtone</mdc-dialog-title>
    </mdc-dialog-header>
    <mdc-dialog-body id="mdc-dialog-with-list-description" scrollable="true">
        <student st-value="$ctrl.students[0]"></student>
    </mdc-dialog-body>
    <mdc-dialog-footer>
        <mdc-button dialog="cancel">Decline</mdc-button>
        <mdc-button dialog="accept">Accept</mdc-button>
    </mdc-dialog-footer>
</mdc-dialog>

<div>
    <mdc-button raised="true" ng-click="$ctrl.navigates()">To Form 2</mdc-button>
    <mdc-button raised="true" ng-click="$ctrl.viewDetails()">Launch Detail dialog</mdc-button>
    <mdc-button raised="true" ng-click="$ctrl.testNgIf()">Go to ngIf test</mdc-button>

    <student ng-repeat="s in $ctrl.students track by s.id" st-value="s"></student>
</div>
