<div (mouseover)="setCurrentStudent(true)" (mouseleave)="setCurrentStudent(false)">
    <span>Current Viewing: {{isViewing}}</span>
    <div class="form-group">
        <mdc-textfield type="text" [(ngModel)]="stValue.id" label="Student Id"></mdc-textfield>
    </div>
    <div class="form-group">
        <mdc-textfield type="text" [(ngModel)]="stValue.name" label="Student Name"></mdc-textfield>
    </div>
    <div class="form-group">
        <mdc-textfield type="text" [(ngModel)]="stValue.age" label="Age"></mdc-textfield>
    </div>
    <div class="form-group">
        <mdc-select label="State" name="stateSelect" [(value)]="stValue.homeState">
            <mdc-select-item *ngFor="let state of stateList" [value]="state" (click)="onChange(state)">{{state}}</mdc-select-item>
        </mdc-select>

    </div>

    <div class="form-group">
        <mdc-textarea [(ngModel)]="stValue.comment" label="Comments" placeholder="Comments"></mdc-textarea>
    </div>
</div>